<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div class="new-note">
            <input v-model='note.title' type="text" name="input">
            <textarea v-model="note.descr" name="textArea"></textarea>
            <button @click="addNote">New note</button>
        </div>
        <div class="notes">
            <div class="note" v-for="(note, index) in notes" :key="index">
                <div class="note-header">
                    <p>{{note.title}}</p>
                </div>
                <div class="note-body">
                    <p>{{note.descr}}</p>
                    <span>{{note.dt}}</span>
                </div>
            </div>
        </div>

    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title:'Notes App',
                note: {
                    title: '',
                    descr: ''
                },
                notes: [
                    {
                        title:'First note',
                        descr:'Description first note',
                        dt: new Date(Date.now()).toLocaleString()
                    },
                    {
                        title:'Second note',
                        descr:'Description Second note',
                        dt: new Date(Date.now()).toLocaleString()
                    },
                    {
                        title:'Third note',
                        descr:'Description Third note',
                        dt: new Date(Date.now()).toLocaleString()
                    }
                ]
            },
            methods: {
                addNote() {
                    this.notes.push({
                        title : this.note.title,
                        descr : this.note.descr,
                        dt : new Date(Date.now()).toLocaleString()
                    })
                }
            }
        })
    </script>
</body>
</html>